.menuPrincipal
{
    display:scroll;
    position:fixed;
    top: 30%;
    right: 1%;
    opacity: 0.3;
    text-align: right;
    z-index: 2000;
    width: 50px;
}

.iconoPrincipal
{
  width: 100px;
  height: 100px;
}

.icono 
{
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.iconoMenu 
{
  width: 32px;
  height: 32px;
  margin-right: 8px;
  margin-bottom: 8px;
}

@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}

.imgr{
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.imgre{
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background-color: #d1ecf1;
}

#imgr2 {
     -webkit-animation-direction: reverse;
     animation-direction: reverse;
}

.fotoLista
{
  height: 100px;
  margin-right: 4px;
}

.noVer
{
  display: none;
}
.fondoAzul
{
  background-color :#028dcc; 
  color : white;
}
.letraAzul
{
  color:#085b9e;
}
.letraRoja
{
  color:#ff1a1a;
}
.letraVerde
{
  color:#009933;
}
.letraAmarilla
{
  color:#ff9933;
}
