.menuPrincipal
{
    display:scroll;
    position:fixed;
    top: 30%;
    right: 1%;
    opacity: 0.3;
    text-align: right;
    z-index: 2000;
    width: 50px;
}

.iconoPrincipal
{
  width: 100px;
  height: 100px;
}

.icono 
{
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.iconoMenu 
{
  width: 32px;
  height: 32px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.fotoLista
{
  height: 100px;
  margin-right: 4px;
}

.noVer
{
  display: none;
}
.fondoAzul
{
  background-color :#028dcc; 
  color : white;
}
.letraAzul
{
  color:#085b9e;
}
.letraRoja
{
  color:#ff1a1a;
}
.letraVerde
{
  color:#009933;
}
.letraAmarilla
{
  color:#ff9933;
}
