.icon 
{
  width: 16px;
  height: 16px;
}
.iconMenu 
{
  width: 32px;
  height: 32px;
}
.noVer
{
  display: none;
}
.fondoAzul
{
  background-color :#028dcc; 
  color : white;
}
.letraAzul
{
  color:#085b9e;
}
.letraRoja
{
  color:#ff1a1a;
}
.letraVerde
{
  color:#009933;
}
.letraAmarilla
{
  color:#ff9933;
}
